{% load static %}
<style>
.footerWrap {
    width:100%;
    position:fixed;
    bottom: 0px;
}
.footer {
    width:400px;
    margin:auto;
}
.footerContent {
    float:left;
    width:100%;
    background-color:#e3f2fd;
}
.footer p {float:left; width:100%; text-align:center; }
</style>

<br>

<div class="footerWrap">
    <div class="footer">
      <div class="footerContent">
        <p class="text">Copyright © 2020 <a href="#">Aiman Aziz</a>. All rights reserved. </p>
      </div>     
    </div>
</div>