<style>
    .card-header{
        background-color: black;
    }
    .card-body{
        background-color: darkcyan;
    }
</style>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Total Applications</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_applicant }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Active Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{pending}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title">Orders Approved</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{approved}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title">Orders Rejected</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{rejected}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>